@import "normalize";

@import "fonts";

body {
  font-family: Montserrat, Arial, serif;
  min-width: 1366px;
  color: #011c40;
  background: #F9FBFD;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

.container {
  width: 1160px;
  margin: auto;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #bbb;
}

//header and headig

.header-and-heading-background {
  background-color: #1b4a81;
  background: url(../img/header_bg.jpg) center;
  background-size: 100%;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: #1b4a81;
    background: url(../img/header_bg_2x.jpg) center;
    background-size: 100%;
  }
}

.menu {
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  display: flex;
}

.logo-link {
  font-size: 0;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 1000px;
  padding-top: 9px;
}

.menu-list__item {
  list-style: none;
  margin-left: 34px;
}

.menu-list__link {
  display: flex;
  text-decoration: none;
  color: #F9FBFD;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0);
  &:hover { border-bottom: 2px dashed #f9fbfd; }
  &:focus { border-bottom: 2px solid #f9fbfd; }
}


//heading

.heading {
  padding: 165px 95px 258px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.heading h1 {
  color: #F9FBFD;
  font-size: 54px;
  font-weight: 700;
  margin: 0 0 -7px 95px;
}

.heading p {
  color: #F9FBFD;
  font-size: 20px;
  margin-left: 95px;
}


//description

.description {
  padding: 120px 0;
}

.description__text {
  padding: 62px 0 0;
  width: 512px;
}

.description__text h2 {
  margin: 0 0 29px;
}

.description__text p {
  font-size: 16px;
  line-height: 150%;
}


//feature

.feature {
  background: url(../img/feature_bg.jpg) center;
  background-size: 100%;
  background-color: rgb(211, 228, 240);
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background: url(../img/feature_bg_2x.jpg) center;
    background-size: 100%;
    background-color: rgb(211, 228, 240);
  }
  padding: 93px 0 117px;
}

.feature h2 {
  text-align: center;
  margin-bottom: 54px;
}

.feature__item {
  background: #F9FBFD;
  width: 300px;
  padding: 30px 30px 25px;
}

.feature h3 {
  margin: 52px 0 8px;
  line-height: 150%;
}

.feature p {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.feature__item_ship {
 &::before {
   content:"";
   background-image: url(../img/icon_ship.svg);
   background-size: 27px 32px;
   background-repeat: no-repeat;
   width: 27px;
   height: 32px;
   position: absolute;
 }
}

.feature__item_check {
 &::before {
   content:"";
   background-image: url(../img/icon_check.svg);
   background-size: 38px 21px;
   background-repeat: no-repeat;
   background-position: 0 5px;
   width: 38px;
   height: 26px;
   position: absolute;
 }
}

.feature__item_boat {
  &::before {
    content:"";
    background-image: url(../img/icon_boat.svg);
    background-size: 42px 15px;
    background-repeat: no-repeat;
    background-position: 0 8px;
    width: 42px;
    height: 23px;
    position: absolute;
 }
}

.feature__item_boat p {
  max-width: 241px;
}


//cruise

.cruise {
  padding: 117px 0 90px;
}

.cruise h2 {
  text-align: center;
  margin: 0 0 54px;
}

.cruise-wrapper {
  padding: 0 15px 0;
}

.cruise__item-static {
  width: 200px;
  height: 326px;
  padding: 30px;
  margin: 0 30px 30px 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
  position: relative;
  color: #F9FBFD;
  background-size: cover;
  background-position: -120px 0;
  p {
    margin: 0;
  }
  &>p {
    position: absolute;
    bottom: 22px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
  }
  &:hover .cruise__item-hover {
    visibility: visible;
  }
  &:hover > p {
    visibility: hidden;
  }
  &::-webkit-scrollbar {
    width: 1em;
  }
}

.cruise__item-hover {
  visibility: hidden;
  position: relative;
  width: 210px;
  height: 327px;
  background: #011C40;
  color: #F9FBFD;
  padding: 29px 25px;
  margin: -30px 0 0 -30px;
  overflow: auto;
  h3 {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    margin: 0 0 14px;
  }
  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin: 11px 0 0;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0 0;
    color: #D8D8D9;
  }
  button {
    position: absolute;
    top: 311px;
    background: #F9FBFD; 
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    width: 210px;
    padding: 10px;
  }
}

.cruise__item-inner {
  height: 265px;
  overflow: auto;
}

.cruise__route {
  max-height: 41px;
  overflow: auto;
  scrollbar-color: #bbb #F9FBFD;
}

.cruise__item-static_astoria {
  background-color: rgb(75, 112, 156);
  background-image: url(../img/cruise-astoria_bg.jpg);
  background-position: -166px 0;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(75, 112, 156);
    background-image: url(../img/cruise-astoria_bg_2x.jpg);
    background-position: -166px 0;  
  }
}

.cruise__item-static_elain {
  background-color: rgb(187, 211, 235);
  background-image: url(../img/cruise-elain_bg.jpg);
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(187, 211, 235);
    background-image: url(../img/cruise-elain_bg_2x.jpg);  
  }
}

.cruise__item-static_atlantis {
  background-color: rgb(187, 211, 235);
  background-image: url(../img/cruise-atlantis_bg.jpg);
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(187, 211, 235);
    background-image: url(../img/cruise-atlantis_bg_2x.jpg);  
  }
  background-position: -127px 0;
}

.cruise__item-static_odissey {
  background-color: rgb(116, 142, 176);
  background-image: url(../img/cruise-odissey_bg.jpg);
  background-position: -119px 0;
  background-size: auto 419px;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(116, 142, 176);
    background-image: url(../img/cruise-odissey_bg_2x.jpg);
    background-position: -119px 0;
    background-size: auto 419px;  
  }
}

.cruise__item-static_olympia {
  background-color: rgb(172, 198, 223);
  background-image: url(../img/cruise-olympia_bg.jpg);
  background-position: -119px 0;
  background-size: auto 419px;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(172, 198, 223);
    background-image: url(../img/cruise-olympia_bg_2x.jpg);
    background-position: -119px 0;
    background-size: auto 419px;  
  }
}

.cruise__item-static_aurora {
  background-color: rgb(33, 59, 91);
  background-image: url(../img/cruise-aurora_bg.jpg);
  background-position: -106px 0;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(33, 59, 91);
    background-image: url(../img/cruise-aurora_bg_2x.jpg);
    background-position: -106px 0  
  }
}

.cruise__item-static_leonor {
  background-color: rgb(213, 225, 241);
  background-image: url(../img/cruise-leonor_bg.jpg);
  background-position: -147px 0;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(213, 225, 241);
    background-image: url(../img/cruise-leonor_bg_2x.jpg);
    background-position: -147px 0;  
  }
}

.cruise__item-static_minion-1 {
  background-color: rgb(183, 206, 232);
  background-image: url(../img/cruise-minion-1_bg.jpg);
  background-position: -178px 0;
  background-size: auto 523px;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(183, 206, 232);
    background-image: url(../img/cruise-minion-1_bg_2x.jpg);
    background-position: -178px 0;
    background-size: auto 523px;  
  }
}

//Order-form

.order-form {
  background-color: rgb(202, 222, 238);
  background: url(../img/order-form_bg.jpg);
  background-size: 100%;
  background-position: center -18px;
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    background-color: rgb(202, 222, 238);
    background: url(../img/order-form_bg_2x.jpg);
    background-size: 100%;
    background-position: center -18px;  
  }
}

.order-form-wrapper {
  padding: 48px 60px 50px;
}

.order-form__text {
  width: 500px;
  margin-top: -10px;
}

.order-form h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 13px 0 0;
}

.order-form__text p {
  width: 355px;
  font-size: 18px;
  line-height: 150%;
  margin: 15px 0 0;
}

.order-form__form {
  width: 304px;
  margin: 2px 0 0;
  padding: 44px 50px 50px;
  background: #011C40;
  fieldset { 
    border: none; 
    padding: 0;
    margin: 0;
  }
  legend { 
    color: #F9FBFD; 
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 28px;
  }
  button { 
    background: #F9FBFD; 
    border: none;
    display: block; 
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    width: 303px;
    padding: 11px 10px;
  }
  input { 
    background: #F9FBFD; 
    border: none;
    color: #011C40;
    font-size: 14px;
    &::placeholder {
      color: #011C40;
      font-size: 14px;
      line-height: 150%;
    }
  }
}

.order-form__input-full {
  width: 271px;
  margin-bottom: 20px;
  padding: 11px 16px;
  line-height: 150%;
}

.order-form__label-check { 
  display: flex;
  align-items: center;
  color: #F9FBFD;  
  font-size: 10px;
  line-height: 130%;
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
  }
}

.order-form input[type="checkbox"] {
  opacity: 0;
  margin-right: -18px;
  width: 18px;
  height: 18px;
  + span {
    width: 18px;
    height: 18px;
    background-color: #F9FBFD;
    margin-right: 5px;
  }
  &:checked + span {
    background-image: url(../img/icon_checked.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:hover {
    cursor: pointer;
  }
}

.order-form__label-span {
  width: 280px;
}


//contacts

.contacts {
  padding: 120px 0;
}

.contacts__map {
  width: 560px;
  height: 306px;
  filter: saturate(0.5);
}

.contacts__text {
  width: 500px;
  padding: 75px 0 0;
}

.contacts__call-to-action {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
}

.contacts__address {
  line-height: 150%;
  display: flex;
  margin: 32px 0 0;
  &::before {
    content: "";
    display: flex;
    background-image: url(../img/icon_balloon.svg);
    background-repeat: no-repeat;
    background-size: 18px 22px;
    width: 18px;
    height: 22px;
    margin: 0 10px 0 0;
  }
}

.contacts__tel {
  margin: 24px 0 0;
  display: flex;
  &::before {
    content: "";
    display: flex;
    background-image: url(../img/icon_phone.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
  }
}

.contacts__tel-link {
  text-decoration: none;
  color: #011c40;
  &:hover {
    text-decoration: underline;
  }
}

//footer

.footer {
  background: #011c40;
}

.menu_footer {
  padding: 50px 0;
}

.menu__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-list_footer {
  padding: 8px 6px 0;
  max-width: 900px;
}

.menu-list_social {
  align-items: center;
  padding: 0;
}

.menu-list__link_social {
  padding-bottom: 0;
  border: 0;
  &:hover { border-bottom: none; }
  &:active { border-bottom: none; }
}