/**
   ==================================================================

   Сперва — normalize. 
   Чтобы перейти к стилям проекта, используйте Ctrl+F «Стили проекта»

   ==================================================================
 */

@import "normalize";

/**
 * «Стили проекта»
 */

@import "fonts";

* {
  font-family: Montserrat, Arial, serif;
}

body {
  min-width: 1366px;
}

.container {
  width: 1160px;
  margin: auto;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 650px;
  background: url(../img/header_bg.jpg) center;
  background-size: 100%;
  background-color: #1b4a81;
  z-index: -1;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.menu {
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  display: flex;
}

.logo-link {
  font-size: 0;
}

.menu-list {
  display: flex;
  margin: 0;
  max-width: 1000px;
}

.menu-list__item {
  list-style: none;
  margin-left: 33px;
}

.menu-list__link {
  text-decoration: none;
  color: #F9FBFD;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  &:hover { border-bottom: 1px dashed #f9fbfd; }
  &:focus { border-bottom: 2px solid #f9fbfd; }
}


//heading

.heading {
  padding: 129px 95px 258px;
}

.heading h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: -7px;
}

.heading p {
  color: #fff;
  font-size: 20px;
}


//description

.description {
  display: flex;
  padding: 120px 0;
}

.description__text {
  padding: 38px 65px 0 0;
}

.description__text h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.description__text p {
  line-height: 150%;
}


//footer

.footer {
  background: #011c40;
}

.menu_footer {
  padding: 50px 0;
}

.menu-list_footer {
  margin-left: -300px;
}

.menu-list_social {
  align-items: center;
}

.menu-list__link_social {
  &:hover { border-bottom: none; }
  &:active { border-bottom: none; }
}